*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 90vh;
    margin: 0;
}
.header-site {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
 
.footer {
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 100%;
 }
 .shop-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    padding: 20px;
 }


/* HEADER */
.header-nav {
    display: flex;
    align-items: center;
    margin: 0px;
    padding-top: 10px;
}


.header-log {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding-top: 10px;
}


.header-nav .navbar {
    list-style: none;
    display: flex;
    padding: 0 10px;
    gap: 10px;
    margin: 0
}
.header-log .logout-page {
    display: flex;
    gap: 5px;
    align-items: center;
}
.header-log .logout-page .hidden {
    display: none;
}

.navbar .active a {
    color: rgb(12, 90, 206);
}

.navbar a {
    color: rgb(16, 16, 16);
}

.navbar a:link {
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
    color: rgb(12, 90, 206);
}
.navbar-line hr {
    border: 2px solid gray;
    margin: 0;
    padding: 0;

}

.logout-page #welcome {
    font-size: 15px;
}

#logoutBtn {
    
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: rgb(161, 4, 38);
    border: 1px solid rgb(235, 246, 246);
    border-radius: 5px;
    cursor: pointer;
}
/* END HEADER */

/* ABOUT */

.about {
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 12px 12px 50px rgba(7, 7, 7, 0.1);
    padding: 20px 20px 28px 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    background-color: rgb(229, 234, 233);
}

.about img {
    width: 100%;
    border-radius: 10px;
    max-height: 300px;
    margin-bottom: 18px;
}
.about-content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.about-content p {
    font-weight: 400;
}
/* END ABOUT */

/* CONTACT FORM */
#contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 12px 12px 50px rgba(7, 7, 7, 0.1);
    background-color: rgb(229, 234, 233);
    padding: 20px 20px 34px 34px;
    margin: 20px;
    gap: 10px;

}
#contactForm input, textarea  {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
#contactForm textarea {
    height: 100px;
}
#contactForm .contactSubmit {
    margin-top: 30px;
    padding: 10px;
    color: white;
    background-color: rgb(10, 130, 163);
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
/* END CONTACT FORM */

/* HOME */
.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
/* END HOME */
/* PRODUCTS */
.products .product-card {
    display: grid;
    justify-content: center;
    border: 2px solid rgb(2, 84, 94);
    border-radius: 10px;
    padding: 5px 10px;
    max-width: 300px;
    max-height: 200px;
    padding: 10px;
    background-color: rgb(242, 243, 242);
}

.product-card h2 {
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.product-card img {
    width: 250px;
    height: 100px;
    padding: 5px 10px;
    margin: 10px 0;
}
.product-buy {
    display: flex;
    justify-content: space-between;
    
}
.product-buy p {
    display: flex;
    font-weight: 400;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}
.product-buy button {
    display: flex;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(3, 86, 116);
    font-weight: 600;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
}
/* END PRODUCTS */
/* SIDEBAR */
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed gray;
    width: 200px;
    padding: 10px;
    background-color: rgb(246, 243, 249);
    margin: 0;
    padding: 5px 20px;
}
.cart-title {
    font-size: 20px;
}
.cart-data-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
    font-weight: 500;   
}

.cart-data-price p {
    display: flex;
}
.cart-total {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.cart-total button {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    font-weight: 700;
    font-size: 25px;
    color: white;
    background-color: rgb(5, 75, 82);
    cursor: pointer;
}
/* END SIDEBAR */

 /* FOOTER */
.footer p{
    margin: 0 10px;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    padding-top: 5px;
}
.footer span {
    text-align: center;
}

.footer hr {
    border: 2px solid gray;
}

/* END FOOTER  */