*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
    margin-top: 60px;
}

.login-page, .register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


#loginForm, #registerForm {
    margin-top: 20px;
    width: 500px;
}

#loginForm input, #registerForm input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    
}
.logSubmit , .registerSubmit {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}

.logSubmit button, .registerSubmit button {
    font-size: 20px;
    padding: 10px;
    max-width: 300px;
    color: white;
    background-color: rgb(6, 131, 131);
    border: 1px solid rgb(235, 246, 246);
    border-radius: 5px;
    
}
.logSubmit a , .registerSubmit a {
    font-size: 20px;
    padding-top: 10px;
}
